$yellow-primary: #F4BC16
$link-primary: #bdbdbd

body
    margin: 0
    padding: 0
    font-family: 'Montserrat', sans-serif

.main
  height: 100vh
  background: #141E30  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30)  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative
  .editor
    position: absolute
    max-width: 25%
    height: auto
    bottom: -5%
    right: 10%

// #particles-js
//   background: #252525

nav
    display: flex
    justify-content: space-between
    align-items: center

    ul
        list-style-type: none
        margin: 0
        li
            float: left
            padding: 0 13px
            -webkit-transition: 0.5s ease
            &:hover
              text-shadow: 0px -2px 0px #000000, 0 0 5px rgba(255, 255, 255, 0.8), 0 -4px 15px rgba(255, 255, 255, 0.5)
            &:nth-of-type(1):hover ~ .underline
              left: 0
              width: 106px
              background: #6464c8

            &:nth-of-type(2):hover ~ .underline
              left: 110px
              width: 106px
              height: 1px
              background: #46fafa

            &:nth-of-type(3):hover ~ .underline
              left: 215px
              width: 95px
              background: rgba(150, 250, 250, 0.5)
              box-shadow: 0 0 10px #6464c8
            &:nth-of-type(4):hover ~ .underline
              left: 315px
              width: 90px
              height: 1px
              background: rgba(150, 250, 250, 0.5)
              box-shadow: 0 0 10px #46fafa
            a
              text-decoration: none
              font-size: 1.2rem
              color: $link-primary

.logo
    h3
        font-size: 2.1rem
        text-transform: uppercase
        margin: 0
        color: $link-primary
        cursor: pointer

.burger
  display: none
  div
    width: 25px
    height: 3px
    background-color: $link-primary
    margin: 5px
    transition: all 0.3s ease

.container 
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto

.underline
  position: relative
  width: 0
  height: 5px
  background: rgba(100, 100, 200, 0)
  top: 40px
  -webkit-transition: 0.5s ease

.main-content
  display: grid
  grid-template-columns: 3fr 1fr
  color: white
  position: relative

.description
  h1
    font-size: 7rem
    font-weight: 700
    line-height: 1.1
    text-transform: uppercase
    margin-bottom: 10px
  p
    font-size: 1.5rem
    color: #e7e7e7
    letter-spacing: 1px
    a
      color: #e7e7e7

.icons
  position: absolute
  right: 2%
  top: 50%
  transform: translateY(-50%)
  img
    width: 45px
    max-height: 45px
    padding: 15px 0
    cursor: pointer

#portfolio-container
  height: 500px
  background: white

.nav-active
  transform: translateX(0%) !important

.img-responsive
  max-width: 100%
  height: auto

.button
  margin-top: 20px
  padding: 17px 20px
  border: 0
  font-size: 1rem
  font-weight: 600
  letter-spacing: 1px
  text-align: center
  text-transform: uppercase
  cursor: pointer
  transition: 0.5s
  background-size: 200% auto
  color: white
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
  border-radius: 5px
  text-decoration: none

.btn-grad
  background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%)
  &:hover
    background-position: right center

@media (min-width: 768px)
  nav
    min-height: 8vh
  .container 
    width: 750px

//Navbar breaking point for burger menu
@media (max-width: 797px)
  body
    overflow-x: hidden
  nav
    ul
      li
        float: none
        opacity: 0
  .burger
    display: block
    cursor: pointer
    z-index: 2
  .icons
    display: none
  .links
    position: absolute
    top: 0
    right: 0
    height: 100vh
    width: 30%
    background: white
    transform: translateX(100%)
    transition: transform 0.5s ease-in
    z-index: 1
    ul
      margin-top: 50px
      padding: 0
      li
        padding: 10px 10px 10px 30px
        cursor: pointer
        &:hover
          background: rgba(0, 0, 0, 0.1)
          text-shadow: none
        &:nth-of-type(1):hover ~ .underline
          display: none

        &:nth-of-type(2):hover ~ .underline
          display: none

        &:nth-of-type(3):hover ~ .underline
          display: none
        &:nth-of-type(4):hover ~ .underline
          display: none

@media (min-width: 992px)
  .container 
    width: 970px
  

@media (min-width: 1200px)
  .container 
    width: 1170px

//Navbar animations
@keyframes navLinkFade
  from
    opacity: 0
    transform: translateX(50px)
  to
    opacity: 1
    transform: translateX(0px)

.toggle .line1
  transform: rotate(-45deg) translate(-5px, 6px)
.toggle .line2
  opacity: 0
.toggle .line3
  transform: rotate(45deg) translate(-5px, -6px)
    

//Button class
.btn
  a
  font-size: 1.5em
  text-transform: uppercase
  letter-spacing: 0.1em
  text-decoration: none

.btn
  position: relative
  display: inline-block
  padding: 0.5em 2em
  cursor: pointer
  overflow: hidden

  &:before, &:after
    content: ""
    position: absolute
    left: 0
    height: 2px
    width: 100%
    background-color: white

  &:before
    top: 0

  &:after
    bottom: 0

  &:hover > * > *
    &:before, &:after
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

    > *
      &:before, &:after
        -webkit-transform: translate3d(0, 0, 0)
        transform: translate3d(0, 0, 0)

  > *
    &:before, &:after
      content: ""
      position: absolute
      top: 0
      height: 100%
      width: 2px
      background-color: white

    &:before
      left: 0

    &:after
      right: 0

    > *
      &:before, &:after
        content: ""
        position: absolute
        left: 0
        z-index: 9
        height: 2px
        width: 100%
        background-color: #168dff

      &:before
        top: 0
        -webkit-transform: translate3d(-105%, 0, 0)
        transform: translate3d(-105%, 0, 0)
        transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1)
        transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1)
        transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1)

      &:after
        bottom: 0
        -webkit-transform: translate3d(105%, 0, 0)
        transform: translate3d(105%, 0, 0)
        transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1)
        transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1)
        transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1)

      > *
        &:before, &:after
          content: ""
          position: absolute
          top: 0
          z-index: 9
          height: 100%
          width: 2px
          background-color: #168dff

        &:before
          left: 0
          -webkit-transform: translate3d(0, 105%, 0)
          transform: translate3d(0, 105%, 0)
          transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1)
          transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1)
          transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1)

        &:after
          right: 0
          -webkit-transform: translate3d(0, -105%, 0)
          transform: translate3d(0, -105%, 0)
          transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1)
          transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1)
          transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1)

//Class for stopping animations and transitions while window is beeing resized
.resize-animation-stopper *
  animation: none !important
  transition: none !important
